{% extends "layout.html" %}

{% block title %}
    {{ book.title }}
{% endblock %}

{% block main %}

    <h1>{{ book.title }}</h1>

    <h3>by {{ book.author }}</h3>

    <p>Publication Year:</p>
    <h5>{{ book.year }}</h5>
    <p>ISBN:</p>
    <h5>{{ book.isbn }}</h5>

    <br>

    <h2>Goodreads Rating</h2>
    <p>Average Rating: <span>{{ data["average_rating"] }}/5</span></p>
    <p>({{ data["work_ratings_count"] }} Ratings)</p>

    <br>

    <h2>Coadbooks Reviews</h2>

    {% for row in reviews %}
        <ul>
            <li>Rating: <span>{{ row.rating }}/5</span><br>{{ row.text }}</li>
        </ul>
    {% else %}
        <p>No reviews yet!</p>
    {% endfor %}

    <br>

    <form action="{{ url_for('review', book_id=book.id) }}" method="get">

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Write a Review</button>
        </div>

    </form>

{% endblock %}
