{% extends "layout.html" %}

{% block title %}
    Create Review
{% endblock %}

{% block main %}
    <h1>Create Review</h1>

    <br>

    <h2>{{ book.title }}</h2>

    <br>

    <form action="{{ url_for('review', book_id=book.id) }}" method="post">

        <h4>Overall Rating</h4>

        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="optradio" value=1>1
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio" value=2>2
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio" value=3>3
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio" value=4>4
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio" value=5>5
            </label>
        </div>

        <h4>Write your review</h4>

        <div class="form-group">
            <textarea autocomplete="off" class="form-control" name="review" rows="6" columns="50" placeholder="What did you like or dislike about this book?" required></textarea>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit Review</button>
        </div>

    </form>

{% endblock %}
