{% extends "layout.html" %}

{% block title %}
    Search
{% endblock %}

{% block main %}
    <h1>Search Results</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th>ISBN</th>
            </tr>
        </thead>
        <tbody>
            {% for row in results %}
                <tr>
                    <td>
                        <a href="{{ url_for('book', book_id=row.id) }}">{{ row.title }}</a>
                    </td>
                    <td>{{ row.author }}</td>
                    <td>{{ row.isbn }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No results.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}
